---
import type { HeroProps } from "@types";
type Props = HeroProps;

const { name, specialty, summary, email } = Astro.props;
---

<section class="py-24 md:py-32" id="#hero">
  <h1
    class="mb-1.5 font-serif text-7xl font-bold tracking-tightest text-white sm:text-8xl md:mb-0 md:text-9xl"
  >
    {name}
  </h1>
  <p
    class="mb-9 font-serif text-4xl leading-[46px] font-bold tracking-tighter text-primary sm:text-5xl md:text-6xl"
  >
    {specialty}
  </p>
  <p class="mb-16 text-base font-normal text-neutral md:text-lg">
    {summary}
  </p>

  <a
    href="https://drive.google.com/file/d/1swWR0TN-sZalP_zmpxlD1w1aFlI6hKc3/view?usp=sharing"
    target="_blank"
    rel="noopener noreferrer"
    class="flex w-fit items-center gap-2 rounded-full bg-blue-600 px-3 px-10 py-1.5 py-5 text-white transition hover:bg-blue-700"
  >
    <img src="pop-up.png" alt="icon" class="h-5 w-5" />
    <p class="text-md">My Resume</p>
  </a>
</section>
